<%= form_with(model: @fastest_time, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :sport_id %>

    <%= f.collection_select :sport_id, Sport.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :time_spent %>

    <%= f.text_field :time_spent, class: "form-control" %>
  </div>

  <%= f.hidden_field :workout_id, value: @workout.id %>

  <%= f.submit "Create fastest time", class: "btn btn-block btn-outline-secondary" %>
<% end %>
