<div class="card mb-3">
  <h2 class="card-header h4">
    Sport #<%= sport.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Name</dt>
      <!-- Display name start -->
      <dd><%= sport.name %></dd>
      <!-- Display name end -->

      <dt>Description</dt>
      <!-- Display description start -->
      <dd><%= sport.description %></dd>
      <!-- Display description end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back sport, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link sport start -->
      <div class="col">
        <%= link_to edit_sport_url(sport), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link sport end -->

      <!-- Delete link sport start -->
      <div class="col">
        <%= link_to sport, method: :delete, data: { confirm: "Do you really want to delete this sport?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link sport end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(sport.updated_at) %> ago
  </div>
</div>
