<!-- Form fastest_time start -->
<%= form_with(model: @fastest_time, local: true) do |f| %>
<!-- Form fastest_time end -->

  <!-- Label and input for sport_id start -->
  <!-- Input for sport_id start -->
  <%= f.hidden_field :sport_id, value: @sport.id %>
  <!-- Input for sport_id end -->
  <!-- Label and input for sport_id end -->

  <!-- Label and input for time_spent start -->
  <div class="form-group">
    <%= f.label :time_spent %>

    <!-- Input for time_spent start -->
    <%= f.text_field :time_spent, class: "form-control" %>
    <!-- Input for time_spent end -->
  </div>
  <!-- Label and input for time_spent end -->

  <!-- Label and input for workout_id start -->
  <div class="form-group">
    <%= f.label :workout_id %>

    <!-- Input for workout_id start -->
    <%= f.collection_select :workout_id, Workout.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for workout_id end -->
  </div>
  <!-- Label and input for workout_id end -->

  <%= f.submit "Create fastest time", class: "btn btn-block btn-outline-secondary" %>
<% end %>
