<%= form_with(model: @fastest_time, local: true) do |f| %>

  <%= f.hidden_field :sport_id, value: @sport.id %>

  <div class="form-group">
    <%= f.label :time_spent %>

    <%= f.text_field :time_spent, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :workout_id %>

    <%= f.collection_select :workout_id, Workout.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create fastest time", class: "btn btn-block btn-outline-secondary" %>
<% end %>
